
<div class="container">
  <div class="row" style="margin-top: 15px;">
      <div class="col s12 m6 offset-m3">
          <form [formGroup]="resetConfirm" (ngSubmit)="Submit()" class="form-horizontal">
              <div asp-validation-summary="All" class="text-danger"></div>
              <input type="hidden" />
              <div class="row">
                  <div class="input-field col s12">
                      <input formControlName="email" type="email" class="validate">
                      <label data-error="wrong" data-success="right">Email</label>
                  </div>
              </div>

              <div class="row">
                  <div class="input-field col s12">
                      <input formControlName="password" type="password" class="validate">
                      <label data-error="wrong" data-success="right">Password</label>
                  </div>
              </div>

              <div class="row">
                  <div class="input-field col s12">
                      <input formControlName="confirmPassword" type="password" class="validate">
                      <label data-error="wrong" data-success="right">Confirm Password</label>
                  </div>
              </div>

              <div class="row center">
                  <button class="btn waves-effect waves-light" type="submit">
                      Reset
                      <i class="material-icons right">send</i>
                  </button>
              </div>
          </form>
      </div>
  </div>
</div>
